*.log
*.pot
*.pyc
*.DS_Store
__pycache__/
local_settings.py
media
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
partsavatar.properties
env/
.vscode/
.idea
*.code-workspace
